<!DOCTYPE html>
<html lang="en">

<head>

	<!-- PAGE TITLE START HERE -->
	<title>ALEX CLASSICS</title>
	<!-- PAGE TITLE END'S HERE -->

	<!-- META TAG START HERE -->
	<meta charset="UTF-8">
	<meta name="title" content="ENDURANCE"> <!-- ADD THEME TITLE HERE -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
	<meta name="format-detection" content="telephone=no">
	<meta name=theme-color content="#FFFFFF"> <!-- ADD THEME COLOR HERE -->
	<meta name="description"
		content="You are welcome to visit our center where every person is treated with high attention">
	<!-- ADD THEME DESCRIPTION HERE -->

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="theme_url"> <!-- ADD THEME URL HERE -->
	<meta property="og:title" content="ENDURANCE"> <!-- ADD THEME TITLE HERE -->
	<meta property="og:description"
		content="You are welcome to visit our center where every person is treated with high attention">
	<!-- ADD THEME DESCRIPTION HERE -->
	<meta property="og:image" content="https://netizensstore.com/gymfit_theme/html/endurance/assets/images/thumbnail.webp">
	<!-- ADD THEME TITLE HERE -->

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="theme_url"> <!-- ADD THEME URL HERE -->
	<meta property="twitter:title" content="ENDURANCE"> <!-- ADD THEME TITLE HERE -->
	<meta property="twitter:description"
		content="You are welcome to visit our center where every person is treated with high attention">
	<!-- ADD THEME DESCRIPTION HERE -->
	<meta property="twitter:image" content="https://netizensstore.com/gymfit_theme/html/endurance/assets/images/thumbnail.webp"> <!-- ADD THUMBNAIL PATH HERE -->
	<!-- META TAG END'S HERE -->

	<!-- FAVICON -->
	<link href="assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon">

	<!-- LOCAL CSS LINK -->
	<link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.css"> <!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="assets/vendors/swiper/css/swiper-bundle.min.css"> <!-- SWIPER CSS -->
	<link rel="stylesheet" href="assets/vendors/animation/css/animation.css"> <!-- ANIMATION CSS -->
	<link rel="preload stylesheet" as="style" type="text/css" href="assets/css/app.css"> <!-- MAIN STYLE CSS -->

</head>

<body>

	<!-- LOADER START HERE -->
	<div class="page_loader">
		<img src="assets/images/transformation.webp" alt="img" loading="lazy">
	</div>
	<!-- LOADER END HERE -->

	<!-- HEADER START FROM HERE -->
	<header class="default-padding pt-0">
		<div class="container">
			<nav class="navbar navbar-expand-xxxl">

				<!-- Logo -->
				<a class="navbar-brand logo lh-0" href="index.html">
					<img src="assets/images/logo.svg" alt="Logo">
				</a>

				<!-- COLLAPSE MENU -->
				<div class="header_block">
					<div class="MobileView lh-0 mb-sm-5 mb-4 d-flex align-items-center justify-content-end">
						<a href="#!" class="closeBtn d-flex align-items-center">
							<p class="mb-0 pe-sm-3 pe-2">close</p>
							<div class="close-icon d-flex align-items-center justify-content-center">
								<span></span>
								<span></span>
							</div>
						</a>
					</div>
					<ul class="tabActive">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about-us.html">About us</a>
						</li>
						<li>
							<a href="#pricing">Pricing</a>
						</li>
						<li>
							<a href="gallery.html">Gallery</a>
						</li>
						<li>
							<a href="blog.html">Blogs</a>
						</li>
						<li>
							<a href="contact-us.html">Contact Us</a>
						</li>
						<li class="dropdown">
							<a href="#!" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Pages
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="404.html">404</a></li>
								<li><a class="dropdown-item" href="coming-soon.html">cooming soon</a></li>
								<li><a class="dropdown-item" href="site-map.html">sitemap</a></li>
							</ul>
						</li>
						<li class="d-lg-none d-flex">
							<a href="#!" class="btn_wrapper">get started</a>
						</li>
					</ul>
				</div>
				<div class="d-flex align-items-center gap-sm-4 gap-3">
					<!-- COLLAPSE BUTTON -->
					<button class="hamburger lh-0">
						<span>menu</span>
						<img src="assets/images/icon/toggle-icon.svg" alt="Icon" class="ps-2">
					</button>
					<a href="contact-us.html" class="btn_wrapper d-lg-flex d-none">Contact us</a>
				</div>
			</nav>
		</div>
	</header>
	<!-- HEADER END'S FROM HERE -->

	<!-- MAIN SECTIONS START FROM HERE -->
	<main class="main_wrapper">

		<!-- BANNER SECTION START FROM HERE -->
		<div class="default-padding">
			<div class="banner-wrapper">
				<img src="assets/images/background/strips.svg" alt="strips" class="strips">
				<div class="container">
					<div class="banner-block wow fadeInDown">
						<div class="textBlock">
							<div class="row">
								<div class="col-12">
									<div class="d-lg-flex d-block align-items-center text-lg-start text-center pb-sm-2 pb-0">
										<h1 class="title p-0">BE UNSTOPPABLE</h1>
										<img src="assets/images/background/line-pettern.svg" alt="Line" class="ps-3 d-lg-block d-none" loading="lazy">
									</div>
									<h1 class="title text-lg-end text-center">Embrace Endurance</h1>
								</div>
								<div class="col-lg-8">
									<div class="d-flex flex-lg-row flex-column-reverse align-items-center text-lg-start text-center">
										<a href="#" class="btn_wrapper">get started</a>
										<p class="ps-lg-4 p-0 mb-lg-0 mb-3">We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="imgBlock pt-lg-0 pt-sm-5 pt-4">
					<img src="assets/images/background/banner-img.webp" alt="banner" class="bannerImg wow fadeInLeftBig">
					<div class="container position-relative wow fadeInUp">
						<div class="members d-lg-flex d-none align-items-center">
							<img src="assets/images/background/members.webp" alt="Members" class="pe-2">
							members
						</div>
						<a href="#!" data-bs-toggle="modal" data-bs-target="#myModal" class="btn_wrapper White-btn ms-lg-auto mx-auto mt-lg-0 mt-3">
							watch tutorial
							<img src="assets/images/icon/btn-arrow.svg" alt="Arrow">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- BANNER SECTION END'S FROM HERE -->

		<!-- SUCCESS SECTION START FROM HERE -->
		<div class="default-padding">
			<div class="success-section">
				<div class="container">
					<div class="title text-center">Gear Up for Success</div>
					<div class="success-wrapper">
						<div class="row gy-lg-0 gy-4">
							<div class="col-lg-4 col-sm-6 order-2">
								<div class="success-box first-box wow fadeIn">
									<div class="image-wrapper">
										<img loading="lazy" src="assets/images/background/success-1.webp" alt="success-1" class="box_img">
									</div>
									<div class="box-text position">
										<span class="white">Learn From The Best</span>
										<p>Fuel your drive with unwavering motivation. Embrace the power of perseverance for endless possibilities.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 order-lg-2 order-1">
								<div class="row gy-4 justify-content-between wow fadeIn">
									<div class="col-lg-12 col-sm-6">
										<div class="success-box last-box opacity-box icon-box">
											<div class="image-wrapper icon">
												<img loading="lazy" src="assets/images/icon/success-icon.svg" alt="success-icon">
											</div>
											<div class="box-text">
												<span class="gradient">Track your progress</span>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-sm-6">
										<div class="success-box first-box opacity-box icon-box">
											<div class="image-wrapper icon icon-2">
												<img loading="lazy" src="assets/images/icon/success-icon-2.svg" alt="success-icon">
											</div>
											<div class="box-text">
												<span class="gradient gradient-2">Improve with routine</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 order-3">
								<div class="success-box last-box wow fadeIn">
									<div class="image-wrapper">
										<img loading="lazy" src="assets/images/background/success-2.webp" alt="success-2" class="box_img">
									</div>
									<div class="box-text position">
										<span class="white">Stay Motivated.</span>
										<p>Fuel your drive with unwavering motivation. Embrace the power of perseverance for endless possibilities.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SUCCESS SECTION END'S FROM HERE -->

		<!-- ABOUT SECTION START FROM HERE -->
		<div class="default-padding">
			<div class="about-section">
				<div class="container">
					<div class="about-wrapper">
						<div class="row gy-sm-5 gy-4 justify-content-center align-items-center">
							<div class="col-lg-7 col-sm-10 order-lg-1 order-2">
								<div class="image-wrapper d-flex justify-content-center wow fadeInLeft">
									<img loading="lazy" src="assets/images/background/about-img.webp" alt="about-img" id="about_img1">
									<img loading="lazy" src="assets/images/white-logo.webp" alt="white-logo" class="logo" id="about_img2">
									<img loading="lazy" src="assets/images/background/strips.svg" alt="strips" class="strips">
								</div>
							</div>
							<div class="col-lg-5 order-lg-2 order-1">
								<div class="about-text text-lg-start text-center wow fadeInRight">
									<div class="title">About Us</div>
									<p>
										Welcome to Endurance Unleashed, where we fuel the spirit of champions. Our mission is to equip you with the finest tools, gear, and resources to conquer your limits and achieve extraordinary feats. Embrace the thrill of pushing beyond boundaries, stay motivated through the toughest challenges, and track your progress as you embark on a relentless journey to greatness.
										<br>
										let's redefine the power of perseverance and triumph in the face of every obstacle. Unleash your full potential with Endurance.
									</p>
									<a href="about-us.html" class="btn_wrapper mx-lg-0 mx-auto">get started</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ABOUT SECTION END'S FROM HERE -->

		<!-- CTA SECTION END'S FROM HERE -->
		<div class="cta-section default-padding pb-0 wow fadeInUp">
			<div class="container">
				<div class="cta-wrapper">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<div class="cta-text text-lg-start text-center d-flex align-items-center gap-4">
								<div>
									<div class="title pb-1">Smart App For all</div>
									<p>We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
								</div>
								<div class="image-wrapper d-lg-block d-none">
									<img loading="lazy" src="assets/images/background/cta-appstore-img.svg" alt="cta-appstore-img">
								</div>
							</div>
							<div class="image-wrapper mockup mx-lg-0 mx-auto">
								<div class="row justify-content-center">
									<div class="col-xxl-10 col-lg-8 col-sm-10">
										<img loading="lazy" src="assets/images/background/cta-mockup.webp" alt="cta-mockup" class="d-block mx-auto">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CTA SECTION END'S FROM HERE -->

		<!-- NOTICE SECTION START FROM HERE -->
		<div class="notice-section default-padding wow fadeIn">
			<div class="notice">
				<div class="notice-slide">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
				</div>
				<div class="notice-slide">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
					<img loading="lazy" src="assets/images/icon/marquee-icon.svg" alt="marquee-icon">
				</div>
			</div>
		</div>
		<!-- NOTICE SECTION END'S FROM HERE -->

		<!-- STAND WITH SECTION START FROM HERE -->
		<div class="stand-with-section strips default-padding">
			<div class="container">
				<div class="stand-with-wrapper">
					<div class="top-block wow fadeIn">
						<div class="d-lg-flex justify-content-end d-block align-items-center text-lg-start text-center pb-sm-2 pb-0">
							<h1 class="title p-0">Stand out with</h1>
							<img loading="lazy" src="assets/images/background/line-pettern.svg" alt="Line" class="px-xl-5 px-4 mx-xl-5 mx-4 d-lg-block d-none">
						</div>
						<h1 class="title text-lg-end text-center">High Endurance</h1>
					</div>
					<div class="row pb-lg-0 pb-4">
						<div class="col-lg-4">
							<div class="text-block text-lg-start text-center wow fadeInLeft">
								<span class="mb-2">Defy The Limits</span>
								<p>We are the ultimate destination for those seeking to push their boundaries, elevate their endurance, and achieve greatness.</p>
								<a href="#" class="btn_wrapper mx-lg-0 mx-auto">get started</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="img-block wow fadeInUpBig">
				<div class="container">
					<div class="image-wrapper">
						<img loading="lazy" src="assets/images/background/stand-with-img.webp" alt="stand-with-img" class="d-block mx-auto">
						<a href="#!" data-bs-toggle="modal" data-bs-target="#myModal" class="btn_wrapper White-btn ms-lg-auto mx-auto mt-lg-0 mt-3">
							watch tutorial
							<img loading="lazy" src="assets/images/icon/btn-arrow.svg" alt="Arrow">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- STAND WITH SECTION END'S FROM HERE -->

		<!-- PRICING SECTION START FROM HERE -->
		<div id="pricing">
			<div class="pricing-section default-padding">
				<div class="container">
					<div class="content">
						<div class="title text-center pb-sm-5 pb-4">Pricing Plan</div>
						<div class="pricing-wrapper">
							<div class="row">
								<div class="col-4">
									<div class="option-wrapper wow fadeInLeft">
										<ul class="nav nav-pills mb-sm-5 mb-4" id="pills-tab" role="tablist">
											<li class="nav-item" role="presentation">
												  <button class="nav-link" id="pills-monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-monthly" aria-selected="true">
													monthly
												</button>
											</li>
											<li class="nav-item" role="presentation">
												  <button class="nav-link active" id="pills-annually-tab" data-bs-toggle="pill" data-bs-target="#pills-annually" type="button" role="tab" aria-controls="pills-annually" aria-selected="false">
													annually
												</button>
											</li>
										</ul>
										<div class="options">
											<ul>
												<li>Workouts</li>
												<li>Progress Tracking</li>
												<li>Nutritional Guidance</li>
												<li>One-on-One Coaching</li>
												<li>Priority Event Registration</li>
												<li>Bonus Workshops/Seminars</li>
												<li>Personalized Support</li>
											</ul>
											<span class="price">prices</span>
										</div>
									</div>
								</div>
								<div class="col-8">
									<div class="pricing-block wow fadeInRight">
										<div class="tab-content" id="pills-tabContent">
											<div class="tab-pane fade" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab" tabindex="0">
												<div class="row">
													<div class="col-3">
														<div class="pricing-plan free">
															<div class="title mb-sm-5 mb-4">free</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span class="free">--</span>
																<p>Lifetime Free</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan basic">
															<div class="title mb-sm-5 mb-4">Basic</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$9.99</span>
																<p>/Monthly</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan pro">
															<div class="title mb-sm-5 mb-4">pro</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$19.99</span>
																<p>/Monthly</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan ultimate">
															<div class="title mb-sm-5 mb-4">ULTIMATE</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$29.99</span>
																<p>/Monthly</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade show active" id="pills-annually" role="tabpanel" aria-labelledby="pills-annually-tab" tabindex="0">
												<div class="row">
													<div class="col-3">
														<div class="pricing-plan free">
															<div class="title mb-sm-5 mb-4">free</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span class="free">--</span>
																<p>Lifetime Free</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan basic">
															<div class="title mb-sm-5 mb-4">Basic</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$49.99</span>
																<p>/Annual</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan pro">
															<div class="title mb-sm-5 mb-4">pro</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon-2.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$69.99</span>
																<p>/Annual</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
													<div class="col-3">
														<div class="pricing-plan ultimate">
															<div class="title mb-sm-5 mb-4">ULTIMATE</div>
															<ul>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
																<li><img loading="lazy" src="assets/images/icon/pricing-icon.svg" width="30" height="30" alt="pricing-icon"></li>
															</ul>
															<div class="pricing">
																<span>$99.99</span>
																<p>/Annual</p>
															</div>
															<a href="#" class="btn_wrapper mt-2 mx-auto">sign up</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PRICING SECTION END'S FROM HERE -->

		<!-- SPECIAL SECTION START FROM HERE -->
		<div class='special-section default-padding wow fadeIn'>
			<div class="container">
				<div class="special-wrapper">
					<div class="title text-center wow fadeInDown">Special addons</div>
					<div class="row justify-content-center">
						<div class="col-xl-10">
							<div class="row gy-4 justify-content-center">
								<div class="col-lg-6">
									<div class="special-block first-box text-lg-start text-center pb-0 wow fadeInUp">
										<span>Workouts & Training</span>
										<p>We focus on building cardiovascular endurance, muscular stamina, and mental resilience, enabling athletes and fitness enthusiasts to sustain physical effort over extended periods.</p>
										<span class="tags">#EndureDrills</span>
										<div class="image-wrapper mt-4 wow fadeInUpBig">
											<img loading="lazy" src="assets/images/background/special-1.webp" alt="special-1">
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="special-block second-box text-lg-start text-center mt-lg-5 mt-0 pt-0 wow fadeInUp">
										<div class="image-wrapper mb-4 wow fadeInDownBig">
											<img loading="lazy" src="assets/images/background/special-2.webp" alt="special-2">
										</div>
										<span>Workouts & Training</span>
										<p>We focus on building cardiovascular endurance, muscular stamina, and mental resilience, enabling athletes and fitness enthusiasts to sustain physical effort over extended periods.</p>
										<span class="tags">#EndureDrills</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SPECIAL SECTION END'S FROM HERE -->

		<!-- CLIENT SECTION START FROM HERE -->
		<div class="client-section default-padding">
			<div class="container">
				<div class="client-wrapper">
					<div class="row gy-sm-5 gy-4 align-items-center justify-content-between">
						<div class="col-lg-6 order-lg-1 order-2">
							<div class="image-wrapper clientImg wow fadeInLeft">
								<img loading="lazy" src="assets/images/clients/client-img.webp" alt="client-img" class="d-block mx-auto">
								<div class="pettern image-wrapper">
									<img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
									<img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
									<img loading="lazy" src="assets/images/background/client-pettern.svg" alt="client-pettern">
								</div>
								<img loading="lazy" src="assets/images/background/strips.svg" alt="strips" class="strips">
							</div>
						</div>
						<div class="col-xxl-5 col-lg-6 order-lg-2 order-1">
							<div class="client-text wow fadeInRight">
								<div class="title text-lg-start text-center">Our Happy Clients</div>
								<div class="swiper ClientSwiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="review-block">
												<div class="text pb-4">
													<p class="mb-3">As an avid fitness enthusiast, I've always sought a platform that could help me push beyond my limits and unlock my true potential. Joining Endurance Unleashes Premium subscription has been a game-changer for me! From the moment I signed up, I knew I was in for an extraordinary journey.</p>
													<p>The mission to fuel the spirit of champions resonates deeply with me. The abundance of finely curated tools, top-notch gear.</p>
												</div>
												<div class="review">
													<div class="image-wrapper pe-4">
														<img loading="lazy" src="assets/images/background/review-img.webp" alt="review-img">
													</div>
													<div class="review-text">
														<span>Angela Lipton</span>
														<p class="mb-1">Google Reviews</p>
														<div class="image-wrapper">
															<img loading="lazy" src="assets/images/icon/stars.svg" alt="stars" width="126" height="22">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="review-block">
												<div class="text pb-4">
													<p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum suscipit voluptate aliquam officia voluptatem! Minus dolorem tempora optio quisquam odio. Minima temporibus molestias aspernatur neque veniam ducimus, placeat ratione eligendi!</p>
													<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores minima voluptatum dignissimos vitae repudiandae non vel sint, accusamus excepturi atque dicta, sunt eligendi molestias asperiores sapiente quis provident animi tenetur.</p>
												</div>
												<div class="review">
													<div class="image-wrapper pe-4">
														<img loading="lazy" src="assets/images/background/review-img-2.webp" alt="review-img-2">
													</div>
													<div class="review-text">
														<span>Johnny depp</span>
														<p class="mb-1">Person Reviews</p>
														<div class="image-wrapper">
															<img loading="lazy" src="assets/images/icon/stars.svg" alt="stars" width="126" height="22">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="btn-block pt-lg-0 pt-3">
										<div class="button prev image-wrapper"><img loading="lazy" src="assets/images/icon/arrow-right.svg" width="24" height="24" alt="arrow-left"></div>
										<div class="button next image-wrapper"><img loading="lazy" src="assets/images/icon/arrow-right.svg" width="24" height="24" alt="arrow-right"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CLIENT SECTION END'S FROM HERE -->

		<!-- BLOG SECTION START FROM HERE -->
		<div class="blog-section default-padding">
			<div class="container">
				<div class="blog-wrapper wow fadeInUp">
					<div class="row gy-lg-0 gy-4">
						<div class="col-lg-4">
							<div class="title pb-3 text-lg-start text-center"><span>Read Our</span> Articles</div>
							<p class="text-lg-start text-center">Unlock the secrets of endurance and elevate your performance with our insightful articles.</p>
							<div class="btn-block">
								<div class="button prev image-wrapper"><img loading="lazy" src="assets/images/icon/arrow-right.svg" width="24" height="24" alt="arrow-left"></div>
								<div class="button next image-wrapper"><img loading="lazy" src="assets/images/icon/arrow-right.svg" width="24" height="24" alt="arrow-right"></div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="swiper BlogSwiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="blog-block">
											<div class="image-wrapper pb-4">
												<img loading="lazy" src="assets/images/blog/blog-8.webp" alt="blog-8">
											</div>
											<p class="blog-title">Mastering Cardiovascular Fitness: Your Path to Endurance Excellence</p>
											<div class="read d-flex gap-3 align-items-center justify-content-between">
												<a href="blog-details.html">Read Now</a>
												<p>14th August, 2023</p>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="blog-block">
											<div class="image-wrapper pb-4">
												<img loading="lazy" src="assets/images/blog/blog-9.webp" alt="blog-9">
											</div>
											<p class="blog-title">Mastering Cardiovascular Fitness: Your Path to Endurance Excellence</p>
											<div class="read d-flex gap-3 align-items-center justify-content-between">
												<a href="blog-details.html">Read Now</a>
												<p>14th August, 2023</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BLOG SECTION END'S FROM HERE -->

		<!-- INSTAGRAM SECTION START FROM HERE -->
		<div class="instagram-section default-padding wow fadeIn" data-wow-duration="1.2s">
			<div class="instagram-wrapper">
				<div class="image-wrapper">
					<img loading="lazy" src="assets/images/background/paper-texture.webp" alt="papper-texture">
					<div class="img-block">
						<div class="row g-0 h-100 justify-content-between">
							<div class="col-6">
								<div class="row g-0 h-100">
									<div class="col-4">
										<div class="image-wrapper h-100 d-flex flex-column justify-content-between">
											<img loading="lazy" src="assets/images/instagram/instagram-img-1.webp" alt="img-1" class="img-1 z-1" id="floatingImage1">
											<img loading="lazy" src="assets/images/instagram/instagram-img-2.webp" alt="img-2" class="img-2" id="floatingImage2">
										</div>
									</div>
									<div class="col-4">
										<div class="image-wrapper h-100 d-flex flex-column justify-content-center">
											<img loading="lazy" src="assets/images/instagram/instagram-img-3.webp" alt="img-3" class="img-3" id="floatingImage3">
											<img loading="lazy" src="assets/images/instagram/instagram-img-4.webp" alt="img-4" class="img-4" id="floatingImage4">
										</div>
									</div>
									<div class="col-2">
										<div class="image-wrapper h-100">
											<img loading="lazy" src="assets/images/instagram/instagram-img-5.webp" alt="img-5" class="img-5" id="floatingImage5">
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="row g-0 h-100">
									<div class="col-6">
										<div class="image-wrapper h-100 d-flex flex-column justify-content-center">
											<img loading="lazy" src="assets/images/instagram/instagram-img-6.webp" alt="img-6" class="img-6" id="floatingImage6">
											<img loading="lazy" src="assets/images/instagram/instagram-img-7.webp" alt="img-7" class="img-7" id="floatingImage7">
										</div>
									</div>
									<div class="col-6">
										<div class="image-wrapper h-100">
											<img loading="lazy" src="assets/images/instagram/instagram-img-8.webp" alt="img-8" class="img-8" id="floatingImage8">
											<img loading="lazy" src="assets/images/instagram/instagram-img-9.webp" alt="img-9" class="img-9" id="floatingImage9">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-block text-center">
					<p>Follow Us on Instagram</p>
					<a href="#!">@Gymfit</a>
				</div>
			</div>
		</div>
		<!-- INSTAGRAM SECTION END'S FROM HERE -->

	</main>
	<!-- MAIN SECTIONS END'S FROM HERE -->

	<!-- FOOTER START FROM HERE -->
	<footer>
		<div class="footer-wrapper wow fadeIn" >
			<div class="container">
				<div class="footer-block">
					<div class="top-block">
						<a href="index.html" class="logo image-wrapper">
							<img loading="lazy" src="assets/images/footer-logo.svg" alt="footer-logo">
						</a>
						<div class="icon-wrapper">
							<a href="#!" class="icon image-wrapper">
								<img loading="lazy" src="assets/images/icon/facebook.svg" width="24" height="24" alt="facebook">
							</a>
							<a href="#!" class="icon image-wrapper">
								<img loading="lazy" src="assets/images/icon/instagram.svg" width="24" height="24" alt="instagram">
							</a>
							<a href="#!" class="icon image-wrapper">
								<img loading="lazy" src="assets/images/icon/twitter.svg" width="24" height="24" alt="twitter">
							</a>
							<a href="#!" class="icon image-wrapper">
								<img loading="lazy" src="assets/images/icon/youtube.svg" width="24" height="24" alt="youtube">
							</a>
							<a href="#!" class="icon image-wrapper">
								<img loading="lazy" src="assets/images/icon/linkedln.svg" width="24" height="24" alt="linkedln">
							</a>
						</div>
					</div>
					<div class="footer-content">
						<ul>
							<li><a href="index.html">home</a></li>
							<li><a href="about-us.html">about us</a></li>
							<li><a href="contact-us.html">contact us</a></li>
							<li><a href="blog.html">blogs</a></li>
							<li><a href="gallery.html">gallery</a></li>
							<li><a href="#">help center</a></li>
							<li><a href="site-map.html">sitemap</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright wow fadeIn">
			<div class="container">
				<div class="d-flex gap-4 align-items-center justify-content-lg-between justify-content-center">
					<p>Copyright © 2024. All rights reserved</p>
					<img loading="lazy" src="assets/images/icon/visa-card.svg" width="295" height="27" alt="visa-card" class="image-wrapper d-lg-block d-none">
				</div>
			</div>
		</div>
	</footer>
	<!-- FOOTER END'S FROM HERE -->

	<!-- BACK TOP TOP BUTTON START FROM HERE -->
	<a href="#!" id="button"><img loading="lazy" src="assets/images/icon/arrow-up.svg" width="22" height="22" alt="arrow-up"></a>
	<!-- BACK TOP TOP BUTTON END'S FROM HERE -->

	<!-- VIDEO MODAL START FROM HERE -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="btn-close d-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
					<video controls="" id="video1">
						<source src="assets/video/video.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</div>
	<!-- VIDEO MODAL END'S FROM HERE -->

	<!-- LOCAL JS SCRIPT -->
	<script src="assets/vendors/jquery/jquery.min.js"></script> <!-- JQUERY -->
	<script src="assets/vendors/bootstrap/js/bootstrap.js"></script> <!-- BOOTSTRAP JS -->
	<script src="assets/vendors/swiper/js/swiper-bundle.min.js"></script> <!-- SWIPER JS -->
	<script src="assets/vendors/animation/js/animation.js"></script> <!-- ANIMATION JS -->
	<script src="assets/js/main.js"></script> <!-- MAIN JS -->

	<!-- FLOATING IMG JS -->
	<script>
		/* ========= ABOUT US FLOATING IMAGES ========= */
		/* IMG 1 */
		const about_img1 = document.getElementById('about_img1');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			about_img1.style.transform = `translate(${offsetX * 10}px, ${offsetY * 10}px)`;
		});
		/* IMG 2 */
		const about_img2 = document.getElementById('about_img2');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			about_img2.style.transform = `translate(calc(-50% + ${offsetX * -10}px), calc(-50% + ${offsetY * -10}px))`;
		});
		/* ========= ABOUT US FLOATING IMAGES ========= */


		/* ========= INSTAGRAM FLOATING IMAGES ========= */
		/* Img 1 */
		const floatingImage1 = document.getElementById('floatingImage1');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage1.style.transform = `translate(${offsetX * 10}px, ${offsetY * 10}px)`;
		});

		/* Img 2 */
		const floatingImage2 = document.getElementById('floatingImage2');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage2.style.transform = `translate(${offsetX * -10}px, ${offsetY * -10}px)`;
		});

		/* Img 3 */
		const floatingImage3 = document.getElementById('floatingImage3');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage3.style.transform = `translate(${offsetX * -10}px, ${offsetY * -10}px)`;
		});

		/* Img 4 */
		const floatingImage4 = document.getElementById('floatingImage4');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage4.style.transform = `translate(${offsetX * 5}px, ${offsetY * 5}px)`;
		});

		/* Img 5 */
		const floatingImage5 = document.getElementById('floatingImage5');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage5.style.transform = `translate(${offsetX * 5}px, ${offsetY * 5}px)`;
		});

		/* Img 6 */
		const floatingImage6 = document.getElementById('floatingImage6');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage6.style.transform = `translate(${offsetX * -5}px, ${offsetY * -5}px)`;
		});

		/* Img 7 */
		const floatingImage7 = document.getElementById('floatingImage7');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage7.style.transform = `translate(${offsetX * 20}px, ${offsetY * 20}px)`;
		});

		/* Img 8 */
		const floatingImage8 = document.getElementById('floatingImage8');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage8.style.transform = `translate(${offsetX * 15}px, ${offsetY * 15}px)`;
		});

		/* Img 9 */
		const floatingImage9 = document.getElementById('floatingImage9');

		document.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX;
			const mouseY = e.clientY;

			// Calculate percentage offsets
			const offsetX = (mouseX / window.innerWidth - 0.5) * 2; // Normalize to [-1, 1]
			const offsetY = (mouseY / window.innerHeight - 0.5) * 2;

			// Apply the transform
			floatingImage9.style.transform = `translate(${offsetX * -20}px, ${offsetY * -20}px)`;
		});
		/* ========= INSTAGRAM FLOATING IMAGES ========= */
	</script>

</body>

</html>
