$Primary-color: rgba(249,7,252,1);
$Secondary-color: #2D2D2D;
$White: #ffffff;
$Black: #000000;
$Gray: #F7F5F5;

$Gradient: linear-gradient(180deg, rgba(5,246,249,1) -80%, rgba(249,7,252,1) 100%);
$Revert-gradient: linear-gradient(360deg, rgba(5,246,249,1) -80%, rgba(249,7,252,1) 100%);

$Opacity-gradient: linear-gradient(180deg, rgba(22,204,62,0.20) 0%, rgba(4,144,35,0.20) 100%);
$Opacity-gradient-2: linear-gradient(180deg, rgba(5,246,249,0.20) -80%, rgba(249,7,252,0.20) 100%);

$Primary-font: "Hind", sans-serif;
$Secondary-font: "Zen Dots", sans-serif;
$Tertiary-font: 'Satoshi Bold';
$Hakusyukaisyo: 'Hakusyukaisyo';
$Drukwidebold: 'Druk Wide Bold';

$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;
$extra-bold : 800;
$black : 900;